body {
  background-color: #051b3d;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  width: 100vw;
  height: 56px;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 3.5rem auto;
}

input {
  color: #ffffff;
  background-color: rgba(45, 65, 91, 1);
  border-radius: 8px;
  border-style: none;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;

  padding: 16px 14px;
  height: 3rem;
  width: 70%;
}

input::-webkit-input-placeholder {
  color: #a3a3a3;
}

.cabecalho__input {
  display: none;
}

nav {
  display: flex;
  gap: 0.5rem;
}

.cabecalho__btn__search {
  background-color: transparent;
  border: none;
  border-radius: 16px;
  height: 3rem;
  width: 3rem;
}

.cabecalho__btn__menu {
  background-color: transparent;
  border: none;
  border-radius: 16px;

  height: 3rem;
  width: 3rem;
}

.cabecalho__author {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  padding: 12px;
  margin-left: 0.5rem;
}

.cabecalho__author img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

@media (min-width: 834px) {
  .cabecalho__input {
    display: block;
  }

  .cabecalho__btn__search {
    display: none;
  }
}

@media (min-width: 1440px) {
  input {
    width: 47rem;
  }

  .cabecalho__btn__menu {
    display: none;
  }

  .cabecalho__author {
    display: flex;
  }
}

